*~
target/

.classpath
.project
.settings
*.pydevproject
.idea
*.iml

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

#java specific
*.class

#python specific
*.pyc

#local-versions of files
tracker.conf
